include LICENSE.txt
include README.rst
recursive-include aldryn_locations/locale *
recursive-include aldryn_locations/migrations *
recursive-include aldryn_locations/boilerplates *
recursive-exclude * *.py[co]
